USE [master]
GO
/****** Object:  Database [ShoppingDB]    Script Date: 6/11/2020 1:14:10 PM ******/
CREATE DATABASE [ShoppingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShoppingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoppingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ShoppingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingDB]
GO
/****** Object:  User [icsd15221]    Script Date: 6/11/2020 1:14:11 PM ******/
CREATE USER [icsd15221] FOR LOGIN [icsd15221] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CHRISTOS]    Script Date: 6/11/2020 1:14:11 PM ******/
CREATE USER [CHRISTOS] FOR LOGIN [CHRISTOS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_datareader] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [icsd15221]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CHRISTOS]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [CHRISTOS]
GO
/****** Object:  Table [dbo].[ItemDetails]    Script Date: 6/11/2020 1:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetails](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](100) NOT NULL,
	[Item_Price] [int] NOT NULL,
	[Image_Name] [varchar](100) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[AddedBy] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ItemDetails] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingDetails]    Script Date: 6/11/2020 1:14:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingDetails](
	[shopId] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[UserName] [varchar](100) NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalAmount] [int] NULL,
	[Description] [varchar](200) NOT NULL,
	[shoppingDate] [datetime] NULL,
 CONSTRAINT [PK_ShoppingDetails] PRIMARY KEY CLUSTERED 
(
	[shopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
